<div class="post">
    <div class="meta">
        <time datetime="<%= date(post.date) %>">
            <%= date(post.date) %>
        </time>
        <address>
            <%- list_categories(post.categories, {
                show_count: false,
                style: 'none'
            }) %></address>
    </div>
    <div class="mrright">
        <article>
            <h2><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
            <section>
                <time datetime="<%= date(post.date) %>">
                    日期: <%= date(post.date) %>
                </time>

            </section>
            <section class="meta">
                城市: <%- list_categories(post.categories, {
                    show_count: false,
                    style: 'none'
                }) %>
                , 标签: <%- list_tags(post.tags, {
                    show_count: false,
                    style: 'none'
                }) %>
            </section>
        </article>
    </div>
</div>