<div class="post">
    <div class="meta">
        <time datetime="<%= date(post.date) %>">
            <%= date(post.date) %>
        </time>
        <address>
            <%- list_tags(post.tags, {
                show_count: false,
                style: 'none'
            }) %></address>
    </div>
    <div class="mrright">
                    <article class="archive">
                        <h2>
                            <time datetime="<%= date(post.date) %>">
                                <%= date(post.date) %>
                            </time>
                            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                        </h2>

                    </article>
    </div>
    <div class="paginator">
        <%- paginator({show_all: true, prev_next: false}) %>
    </div>
</div>