<%- partial('_partial/head') %>
<body>
<div id="container">
    <div id="wrap">
        <header id="header">
            <div id="top">
                <ul>
                    <li><a href="<%- url_for(theme.menu[i]) %>"><img  class="avatar" src="/head.jpg" alt="#" style="display: block"></a></li>
                    <% for (var i in theme.menu){ %>
                    <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                    <% } %>
                </ul>
            </div>
        </header>
        <div id="main">
            <div id="content">
                <div class="timeline">
                    <% page.posts.each(function(post){ %>
                    <%- partial('_partial/archive', {post: post, index: true}) %>
                    <% }) %>
                </div>
            </div>
            <%- partial('_partial/sidebar') %>
        </div>
        <%- partial('_partial/footer') %>
    </div>
</div>
</body>
</html>