<%- partial('_partial/head') %>
<body>
<div id="container">
    <div id="wrap">
        <%- partial('_partial/header')%>
        <div id="main">
            <div id="content">
                <div class="timeline">
                    <%- partial('_partial/article', {post: page, index: false}) %>
                </div>
            </div>
            <%- partial('_partial/sidebar') %>
        </div>
        <%- partial('_partial/footer') %>
    </div>
</div>
</body>
</html>